.container {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  align-items:flex-start;
  
  
  
}
.ImageProduct {
  max-height: 40vh;
}
.DetalleProducto{

  display: flex;
  align-items: center;
  
}